# Node.js / React
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Python / FastAPI
/backend/__pycache__/
/backend/*.py[cod]
/backend/*$py.class
/backend/*.so
/backend/.Python
/backend/env/
/backend/venv/
/backend/ENV/
/backend/env.bak/
/backend/venv.bak/
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/.eggs/
/backend/lib/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/wheels/
/backend/*.egg-info/
/backend/.installed.cfg
/backend/*.egg
/backend/app/__pycache__/
/backend/app/**/__pycache__/

# Database
*.sqlite3
*.db

# Environment variables
.env
/backend/.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db